<div class="container">
  <!-- <app-databinding></app-databinding> -->
  <!-- <div class="row">
    <div class="col-md-12">
       <button mat-raised-button>Hello World</button>
      <button mat-fab>This</button>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-12">
      <rating [(ngModel)]="rating"
        [max]="5"
        iconClass="fa-star"
        fullIcon="★"
        emptyIcon="☆"
        [readonly]="false"
        [disabled]="false"
        [required]="true"
        [float]="true"
        [titles]="['one', 'two', 'three', 'four', 'five']">
</rating>
    </div>
  </div> -->

  <app-directives></app-directives>
</div>
